*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    /*background-color: rgb(54, 54, 156);*/
    background: rgb(82,82,182);
    background: radial-gradient(circle, rgba(82,82,182,1) 20%, rgba(2,2,59,1) 60%);
    font-family: 'Montserrat';
}

.container{
    /*background-color: rgb(6, 38, 73);    */
    
}

.pageTitle{
    /*background-color: bisque;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    color:#ddd;
}

.pageTitle h1{
    font-weight: 700;
    font-size: 48px;
    padding: 1rem;
}

.navbar ul{
    list-style-type:none ;
    display: flex;
    align-content: center;
    justify-content: center;
    margin-right: .50rem;
}

.navbar ul li{
    margin:.25rem;
    padding:.25rem;
}

.eightBallContainer{
    /*background-color:rgb(6, 38, 73);*/
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.theEightBall{
    background: rgb(1,1,98);
    background: radial-gradient(circle, rgba(1,1,98,1) 15%, rgba(0,0,0,1) 69%);
    /*background-color: black;*/
    margin:1rem 0 2rem 0;
    border-radius: 50%;
    border:1px solid #ddd
}

.eightBallScreen{
    background-color: #fff;
    margin: 10rem;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    text-align: center;
    border:1px solid #fff;
}

.theOutcome{
    font-size: 60px;
    font-weight: 700;
    padding:4.10rem 1rem;
}

.question{
    color:#ddd;
    margin:.15rem auto;
}
.outcomeBtn{
    margin:1rem auto 2rem;
    padding:1rem 2.5rem;
    text-align: center;
    border-radius: .75rem;
    font-size: 28px;
    border:1px solid #ddd;
    background-color: #ddd;
}

.outcomeBtn:hover{
    box-shadow: 8px 8px 3px 3px rgba(17,142,237,0.30);
    background-color: rgb(32, 32, 105);
    color: #fff;
}

.theFoot{
    margin:1rem 0rem 0rem 0rem;
    padding:2rem;
    text-align: center;
    color:#ddd
}
